.main-content .main-hero__inner, .main-content .main-hero__description, .main-description__inner, .main-swiper__description, .main-swiper__pagination, .main-features__inner, .main-library__gallery, .main-sustainability__features, .main-media__inner, .section-header {
  width: 100%;
  max-width: clamp(1064px, 79.1666666667vw, 3040px);
  margin: 0 auto;
  padding: 0 clamp(11.2px, 0.8333333333vw, 32px);
}

.main-header.scrolled {
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.main-header.scrolled .main-header__logo {
  background: #000;
}
.main-header.scrolled .gnb__link {
  color: #111;
}
.main-header.scrolled .main-header__util-button {
  color: #111;
}
.main-header.scrolled .main-header__util-button.has-dropdown {
  color: #111;
}
.main-header.scrolled .main-header__util-button.has-dropdown::after {
  background: #111;
}
@media all and (max-width: 768px) {
  .main-header.scrolled .main-header__util-button.has-dropdown::after {
    background: url(../img/icon/icon-gnb-expand.webp) 50% 50%/100% auto no-repeat;
  }
}
.main-header.scrolled .main-header__logo {
  background: url(../img/logo-nexus-black.webp) 50% 50%/100% auto no-repeat;
}
.main-header .main-header__util-button.has-dropdown {
  color: #fff;
}
.main-header .main-header__util-button.has-dropdown::after {
  background: #fff;
}
@media all and (max-width: 768px) {
  .main-header .gnb-toggle {
    background: #fff;
  }
}

.gnb__link {
  color: #fff;
}

.main-header__logo {
  background: url(../img/logo-nexus.webp) 50% 50%/100% auto no-repeat;
}

.main-content .main-hero {
  position: relative;
  width: 100%;
  height: 100dvh;
  overflow: hidden;
}
.main-content .main-hero__video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 1;
  object-fit: cover;
}
.main-content .main-hero__inner {
  position: relative;
  z-index: 5;
  height: 100%;
  margin: 0 auto;
  max-width: 100%;
  background: rgba(0, 0, 0, 0.3);
}
.main-content .main-hero__description {
  position: absolute;
  bottom: clamp(56px, 4.1666666667vw, 160px);
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}
.main-content .main-hero__text {
  margin-bottom: clamp(7px, 0.5208333333vw, 20px);
  font-size: clamp(16.8px, 1.25vw, 48px);
  line-height: 1.6;
  font-weight: 500;
  color: #fff;
}
.main-content .main-hero__title {
  font-size: clamp(140px, 10.4166666667vw, 400px);
  font-weight: 800;
  color: #fff;
  line-height: 1.1;
}
@media all and (max-width: 768px) {
  .main-content .main-hero__title {
    font-size: 58px;
  }
}

.main-description {
  width: 100%;
}
.main-description__inner {
  position: relative;
  height: 100%;
  margin: 0 auto;
  padding: clamp(112px, 8.3333333333vw, 320px) clamp(14px, 1.0416666667vw, 40px);
}
@media all and (max-width: 768px) {
  .main-description__inner {
    font-size: 22px;
    line-height: 1.45;
    padding: 50px 34px;
  }
}
.main-description__text {
  text-align: center;
  font-size: clamp(42px, 3.125vw, 120px);
  line-height: 1.3;
  font-weight: 700;
  color: #111111;
}
@media all and (max-width: 768px) {
  .main-description__text {
    font-size: 22px;
  }
}
.main-description__text .up {
  display: inline-flex;
  position: relative;
  transform: translateY(30px);
  opacity: 0;
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}
.main-description__text .up.show {
  transform: translateY(0);
  opacity: 1;
}

.main-swiper {
  position: relative;
  height: 100vh;
}
.main-swiper__inner {
  width: 100%;
  height: 100%;
}
.main-swiper__slide {
  position: relative;
  width: 100%;
  height: 100%;
}
.main-swiper__slide.swiper-slide-active .main-swiper__number {
  opacity: 0.15;
  transform: translateY(0);
}
.main-swiper__slide.swiper-slide-active .main-swiper__title {
  opacity: 1;
  transform: translateY(0);
}
.main-swiper__slide.swiper-slide-active .main-swiper__text {
  opacity: 1;
  transform: translateY(0);
}
.main-swiper__slide.swiper-slide-active .link-button {
  opacity: 1;
  transform: translateY(0);
}
.main-swiper__image {
  width: 100%;
  height: 100%;
}
.main-swiper__image img {
  object-fit: cover;
  max-width: auto;
  height: 100%;
}
.main-swiper__description {
  position: absolute;
  top: clamp(56px, 4.1666666667vw, 160px);
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  padding: clamp(77px, 5.7291666667vw, 220px) 0 0;
}
@media all and (max-width: 768px) {
  .main-swiper__description {
    top: 0;
    left: 0;
    transform: none;
    padding: 50px 0 0 16px;
  }
}
.main-swiper__number {
  position: absolute;
  top: 0;
  left: clamp(-35px, -2.6041666667vw, -100px);
  font-size: clamp(126px, 9.375vw, 360px);
  font-weight: 300;
  color: #fff;
  line-height: 1;
  opacity: 0;
  transition: opacity 1s ease-out, transform 1s ease-out;
}
@media all and (max-width: 768px) {
  .main-swiper__number {
    position: relative;
    top: 0;
    left: 0;
    font-size: 20px;
    font-weight: 700;
  }
}
.main-swiper__title {
  display: flex;
  flex-direction: column;
  font-size: clamp(39.2px, 2.9166666667vw, 112px);
  line-height: 1.21;
  font-weight: 700;
  color: #fff;
  opacity: 0;
  transform: translateY(20%);
  transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
  transition-delay: 0.4s;
}
@media all and (max-width: 768px) {
  .main-swiper__title {
    margin-top: 10px;
    font-size: 28px;
  }
}
.main-swiper__text {
  margin-top: clamp(28px, 2.0833333333vw, 80px);
  font-size: clamp(14px, 1.0416666667vw, 40px);
  line-height: 1.6;
  color: #ddd;
  max-width: clamp(420px, 31.25vw, 1200px);
  opacity: 0;
  transform: translateY(20%);
  transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
  transition-delay: 0.8s;
}
@media all and (max-width: 768px) {
  .main-swiper__text {
    margin-top: 30px;
    font-size: 15px;
  }
}
.main-swiper__pagination {
  display: flex;
  gap: clamp(28px, 2.0833333333vw, 80px);
  bottom: clamp(56px, 4.1666666667vw, 160px);
  left: 50%;
  transform: translateX(-50%);
}
@media all and (max-width: 768px) {
  .main-swiper__pagination {
    bottom: 40px;
  }
}
.main-swiper__pagination-bullet {
  cursor: pointer;
  position: relative;
  width: clamp(140px, 10.4166666667vw, 400px);
  height: clamp(40.6px, 3.0208333333vw, 116px);
  padding: clamp(16.8px, 1.25vw, 48px) 0 clamp(9.1px, 0.6770833333vw, 26px);
  color: #fff;
  text-align: left;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
@media all and (max-width: 768px) {
  .main-swiper__pagination-bullet {
    width: 102px;
    padding: 16px 0 8px;
    font-size: 13px;
  }
}
.main-swiper__pagination-bullet::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: clamp(5.6px, 0.4166666667vw, 16px);
  height: clamp(5.6px, 0.4166666667vw, 16px);
  border-radius: 100%;
  background: #1897eb;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.main-swiper__pagination-bullet::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background: #fff;
}
.main-swiper__pagination-bullet.is-active::before {
  opacity: 1;
}
.main-swiper__pagination-bullet.is-active::after {
  width: 100%;
  transition: width 4s linear;
}
.main-swiper .link-button {
  margin-top: clamp(21px, 1.5625vw, 60px);
  transform: translateY(20%);
  opacity: 0;
  transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
  transition-delay: 1.2s;
}
@media all and (max-width: 768px) {
  .main-swiper .link-button {
    margin-top: 50px;
  }
}
.main-swiper .swiper {
  height: 100%;
}
.main-swiper .swiper-slide__inner {
  height: 100%;
}

.main-features {
  padding: 140px 0;
}
@media all and (max-width: 768px) {
  .main-features {
    padding: 50px 0;
  }
}
.main-features__inner {
  display: flex;
  align-items: center;
  margin-top: clamp(35px, 2.6041666667vw, 100px);
  gap: clamp(84px, 6.25vw, 240px);
}
@media all and (max-width: 768px) {
  .main-features__inner {
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
  }
}
.main-features__title {
  font-size: clamp(39.2px, 2.9166666667vw, 112px);
  line-height: 1.21;
  font-weight: 700;
  color: #111;
}
@media all and (max-width: 768px) {
  .main-features__title {
    font-size: 28px;
  }
}
.main-features__text {
  margin-top: clamp(28px, 2.0833333333vw, 80px);
  font-size: clamp(14px, 1.0416666667vw, 40px);
  line-height: 1.6;
  color: #666;
}
@media all and (max-width: 768px) {
  .main-features__text {
    margin-top: 30px;
    font-size: 15px;
  }
}
.main-features .link-button {
  margin-top: clamp(105px, 7.8125vw, 300px);
}
@media all and (max-width: 768px) {
  .main-features .link-button {
    margin-top: 50px;
  }
}

.main-library {
  overflow: hidden;
  position: relative;
  padding: clamp(98px, 7.2916666667vw, 280px) 0;
  background: #f2f2f2;
}
@media all and (max-width: 768px) {
  .main-library {
    padding: 50px 0;
  }
}
.main-library__gallery {
  padding-top: clamp(89.6px, 6.6666666667vw, 256px);
}
@media all and (max-width: 768px) {
  .main-library__gallery {
    padding-top: 40px;
  }
}
.main-library__gallery::before {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 10;
  left: -50%;
  background: #f2f2f2;
  transform: translateX(calc(clamp(910px, 67.7083333333vw, 2600px) / 2 * -1));
}
.main-library__gallery .swiper {
  overflow: visible;
}
.main-library__slide {
  width: clamp(294px, 21.875vw, 840px);
  transition: transform 0.6s ease;
}
.main-library__slide:hover, .main-library__slide:focus {
  transform: translateY(calc(clamp(54.6px, 4.0625vw, 156px) * -1));
}
.main-library__image {
  overflow: hidden;
}
.main-library__description {
  margin-top: clamp(28px, 2.0833333333vw, 80px);
}
@media all and (max-width: 768px) {
  .main-library__description {
    margin-top: 30px;
  }
}
.main-library__title {
  font-size: clamp(22.4px, 1.6666666667vw, 64px);
  line-height: 1.21;
  font-weight: 700;
  color: #111;
}
@media all and (max-width: 768px) {
  .main-library__title {
    font-size: 20px;
  }
}
.main-library__list {
  margin-top: clamp(14px, 1.0416666667vw, 40px);
}
@media all and (max-width: 768px) {
  .main-library__list {
    margin-top: 20px;
  }
}
.main-library__list-item {
  position: relative;
  padding-left: clamp(9.8px, 0.7291666667vw, 28px);
  font-size: clamp(14px, 1.0416666667vw, 40px);
  line-height: 1.5;
  color: #333;
}
.main-library__list-item::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: clamp(2.8px, 0.2083333333vw, 8px);
  height: clamp(2.8px, 0.2083333333vw, 8px);
  border-radius: 100%;
  background: #333;
}
.main-library__addition {
  display: block;
  margin-top: clamp(21px, 1.5625vw, 60px);
  font-size: clamp(12.6px, 0.9375vw, 36px);
  line-height: 1.5;
  color: #666;
}

.main-sustainability__inner {
  padding: clamp(98px, 7.2916666667vw, 280px) 0 clamp(129.5px, 9.6354166667vw, 370px);
  background: url(../img/main/img-main-sustainability.webp) 50% 50%/cover no-repeat;
}
.main-sustainability__inner .section-header__label,
.main-sustainability__inner .section-header__title,
.main-sustainability__inner .section-header__text {
  color: #fff;
}
.main-sustainability__features {
  position: relative;
  height: clamp(951.3px, 70.78125vw, 2718px);
}
@media all and (max-width: 768px) {
  .main-sustainability__features {
    height: 430px;
  }
}
.main-sustainability__feature {
  width: clamp(406px, 30.2083333333vw, 1160px);
  height: clamp(462px, 34.375vw, 1320px);
  position: absolute;
  transform: translateY(clamp(140px, 10.4166666667vw, 400px));
  opacity: 0;
  transition: transform 0.8s ease-out, opacity 0.8s ease-out;
}
@media all and (max-width: 768px) {
  .main-sustainability__feature {
    width: 400px;
    height: 120px;
    border-radius: 10px;
    overflow: hidden;
  }
}
.main-sustainability__feature.show {
  transform: translateY(0);
  opacity: 1;
}
.main-sustainability__feature.top {
  top: calc(clamp(161.7px, 12.03125vw, 462px) * -1);
  right: 0;
}
@media all and (max-width: 768px) {
  .main-sustainability__feature.top {
    top: -40px;
    left: 40px;
    right: auto;
  }
}
.main-sustainability__feature.mid {
  top: clamp(42px, 3.125vw, 120px);
  left: 0;
}
@media all and (max-width: 768px) {
  .main-sustainability__feature.mid {
    top: 110px;
    left: -40px;
  }
  .main-sustainability__feature.mid .main-sustainability__feature-text {
    left: 56px;
  }
}
.main-sustainability__feature.bottom {
  top: clamp(399px, 29.6875vw, 1140px);
  left: clamp(504px, 37.5vw, 1440px);
}
@media all and (max-width: 768px) {
  .main-sustainability__feature.bottom {
    top: 260px;
    left: 40px;
    right: auto;
  }
}
.main-sustainability__feature-image {
  width: 100%;
  height: 100%;
}
.main-sustainability__feature-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main-sustainability__feature-text {
  position: absolute;
  left: clamp(28px, 2.0833333333vw, 80px);
  bottom: clamp(28px, 2.0833333333vw, 80px);
  font-size: clamp(22.4px, 1.6666666667vw, 64px);
  color: #fff;
  font-weight: 700;
}
@media all and (max-width: 768px) {
  .main-sustainability__feature-text {
    left: 16px;
    bottom: 16px;
    font-size: 15px;
  }
}

.main-media {
  padding: clamp(98px, 7.2916666667vw, 280px) 0;
}
@media all and (max-width: 768px) {
  .main-media {
    padding: 50px 0 78px;
  }
}
.main-media__inner {
  position: relative;
  padding: 0;
  padding-top: clamp(89.6px, 6.6666666667vw, 256px);
}
@media all and (max-width: 768px) {
  .main-media__inner {
    padding: 30px 0 0 16px;
  }
}
.main-media__inner .swiper-pagination-progressbar {
  top: auto;
  bottom: clamp(-28px, -2.0833333333vw, -80px);
  left: 0;
  width: 100%;
  height: 2px;
  background: rgba(0, 0, 0, 0.1);
}
@media all and (max-width: 768px) {
  .main-media__inner .swiper-pagination-progressbar {
    width: auto;
    left: 16px;
    right: 16px;
  }
}
.main-media__inner .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: #0786c7;
}
.main-media__inner::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 10;
  left: -50%;
  background: #fff;
  transform: translateX(calc(clamp(1064px, 79.1666666667vw, 3040px) / 2 * -1));
}
.main-media__inner .swiper {
  overflow: visible;
}
.main-media__card {
  position: relative;
  width: clamp(322px, 23.9583333333vw, 920px);
  height: clamp(322px, 23.9583333333vw, 920px);
}
.main-media__link {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  padding: clamp(28px, 2.0833333333vw, 80px);
  border-radius: 16px;
  border: solid 1px #ddd;
  background-color: #fff;
  transition: border-color 0.6s ease;
}
.main-media__link:hover, .main-media__link:focus {
  border-color: #111;
}
.main-media__label {
  display: flex;
  align-items: center;
  width: auto;
  height: clamp(33.6px, 2.5vw, 96px);
  padding: 0 clamp(17.5px, 1.3020833333vw, 50px);
  border-radius: clamp(33.6px, 2.5vw, 96px);
  border: 1px solid #7eccff;
  font-size: clamp(11.2px, 0.8333333333vw, 32px);
  color: #1897eb;
  text-transform: uppercase;
}
.main-media__title {
  margin-top: clamp(14px, 1.0416666667vw, 40px);
  font-size: clamp(22.4px, 1.6666666667vw, 64px);
  font-weight: 700;
  color: #111;
}
.main-media__text {
  margin-top: clamp(28px, 2.0833333333vw, 80px);
  font-size: clamp(14px, 1.0416666667vw, 40px);
  line-height: 1.6;
  color: #333;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  font-size: clamp(14px, 1.0416666667vw, 40px);
}
.main-media__date {
  margin-top: auto;
  font-size: clamp(11.2px, 0.8333333333vw, 32px);
  color: #888;
}

.section-header {
  position: relative;
  transform: translateY(30px);
  opacity: 0;
  transition: transform 0.6s ease, opacity 0.6s ease;
}
.section-header.show {
  transform: translateY(0);
  opacity: 1;
}
.section-header__label {
  display: flex;
  align-items: center;
  gap: clamp(4.2px, 0.3125vw, 12px);
  font-size: clamp(14px, 1.0416666667vw, 40px);
  color: #333;
  text-transform: uppercase;
}
@media all and (max-width: 768px) {
  .section-header__label {
    font-size: 13px;
    color: #333;
  }
}
.section-header__label::after {
  content: "";
  position: relative;
  top: clamp(3.5px, 0.2604166667vw, 10px);
  transform: translateY(-50%);
  width: clamp(5.6px, 0.4166666667vw, 16px);
  height: clamp(5.6px, 0.4166666667vw, 16px);
  border-radius: 100%;
  background: #1897eb;
}
@media all and (max-width: 768px) {
  .section-header__label::after {
    width: 6px;
    height: 6px;
  }
}
.section-header__title {
  margin-top: clamp(14px, 1.0416666667vw, 40px);
  font-size: clamp(32.2px, 2.3958333333vw, 92px);
  font-weight: 700;
  color: #111;
}
@media all and (max-width: 768px) {
  .section-header__title {
    font-size: 24px;
  }
}
.section-header__text {
  margin-top: clamp(28px, 2.0833333333vw, 80px);
  font-size: clamp(14px, 1.0416666667vw, 40px);
  font-weight: 500;
  line-height: 1.6;
  color: #333;
}
@media all and (max-width: 768px) {
  .section-header__text {
    margin-top: 20px;
    font-size: 15px;
  }
}
.section-header .link-button {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
@media all and (max-width: 768px) {
  .section-header .link-button {
    right: 16px;
  }
}